{% extends 'layout/basic.html' %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Добавленные объявления :: Доска объявлений</title>-->
{% block title%}Добавление объявления{% endblock %}
<!--</head>-->
<!--    <body>-->
<!--        <h1>Добавление объявления</h1>-->
<!--    <div>-->
<!--        <a href="{% url 'index' %}">Главная</a>-->
<!--        {% for  rubric in rubrics %}-->
<!--        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>-->
<!--        {% endfor %}-->
<!--    </div>-->
{% block content %}
    <h2>Добавление объявления</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Добавить">
        </form>
{% endblock %}
<!--    </body>-->
<!--</html>-->
